#################
# Ableton
#################
Live\ Recordings
Factory\ Packs
Library
User\ Library/Ableton\ Project\ Info
User\ Library/Samples
User\ Library/Sampler


####
# Windows
####
Desktop.ini